.post-submit {
  background-color: #5cd2e6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  float: right;
}

label {
  font-size: 23px;
  position: absolute;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.26);
  height: 100px;
  left: 0;
  width: 400px;
  color: white;
  top: 28px;
  z-index: -1;
  transition-duration: 0.2s;
  transition-property: transform;
}
input,
textarea {
  border: none;
  padding: 40px 0px 20px 0px;
  box-shadow: 0px 3px white, 0px 5px rgba(0, 0, 0, 0.16);
  color: white;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.26);
  background: transparent;
  outline: none;
  height: 19px;
  font-family: "Oswald", sans-serif;
  transition-property: transform;
  font-size: 17px;
  max-width: 500px;
  width: 92%;
}

input:focus + label,
textarea:focus + label {
  transform: translateY(-39px) translateX(-80px) scale(0.6);
}

label:after {
  content: "";
  box-shadow: inset 8px -8px 0 white, -3px 4px 0 rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 20px;
  right: -100px;
  height: 28px;
  transition-duration: 0.1s;
  transition-property: transform;
  transform: rotate(-45deg) scale(0.6);
  width: 60px;
  float: right;
  display: block;
  margin: 13px auto;
}
input:valid + label,
textarea:valid + label {
  transform: translateY(-39px) translateX(-80px) scale(0.6);
}
input:valid + label:after,
textarea:valid + label:after {
  display: block;
  transform: translateX(260px) rotate(-45deg);
}
input:invalid + label::after,
textarea:invalid + label::after {
  transform: translateX(260px) rotate(-45deg);
}
