/* Navbar.css */

.navbar {
  display: flex;
  flex-direction: column; /* Navbar'ı dikey hizaya getir */
  background-color: #333; /* Navbar arka plan rengi */
  color: white; /* Yazı rengi */
  width: 200px; /* Navbar genişliği */
  padding: 20px; /* İçerik etrafındaki boşluk */
}

.logo {
  text-align: center; /* Logo'yu ortala */
  margin-bottom: 20px; /* Logo ile diğer linkler arasındaki boşluk */
}

.nav-link {
  text-decoration: none; /* Link altı çizgiyi kaldır */
  color: white; /* Link rengi */
  margin-bottom: 10px; /* Linkler arasındaki boşluk */
}

.nav-link:hover {
  text-decoration: underline; /* Hover durumunda link altı çizgi */
}
